<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Microgrid demo</title>
    {% else %}
        <title>Welcome to Microgrid demo</title>
    {% endif %}

</head>
<body>
    <div>
        Microgrid Demo:
        <a href="/demo">Parameters</a>

</div>
     <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}

<p class="bg-info" style="font-size:80%;">
        Author: Taha Nakabi
            <br>
        Email: taha.nakabi@vireum.fi
        </p>
</body>
</html>