
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Microgrid parameters
{% endblock %}

{% block content %}
<div class="text-center">
  <h1>Microgrid Parameters</h1>
</div>
        <div class="container">
            <p class="bg-info" style="font-size:160%;">
        You can try the DRL controlled Microgrid demo using your own parameters or leave the fields empty to use default parameters.
            <br>
        The data used in the simulation is based on one wind farm production, electricity prices, and temperatures in Finland from the period between 1.1.2018 to 31.12.2018.
        </p>


        {{ form.hidden_tag() }}

            <form method="POST" action="/">
                <dl>
                {{ wtf.quick_form(form)}}
                <input class="btn btn-primary" type="submit" value="Calculate scenario">
                </dl>
            </form>
        </div>
<p class="bg-info" style="font-size:80%;">
        Author: Taha Nakabi
            <br>
        Email: taha.nakabi@vireum.fi
        </p>
{% endblock %}